{% extends 'kafe/base.html' %}
{% load static %}

{% block content %}
    
       <!-- about section -->

       <section class="about_section layout_padding">
        <div class="container  ">

            <div class="row">
                <div class="col-md-6 ">
                    <div class="img-box">
                        <img src="{{ siteset.photo_long_decription }}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                               {{ siteset.kafe_description_title }}
                            </h2>
                        </div>
                        <p>
                            {{ siteset.kafe_description_long }}
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end about section -->


{% endblock %}